<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SQLCONSOLETEST.Properties.Settings.MotoDealerConnectionString"
            connectionString="Data Source=LAPTOP-UTA4M5MF;Initial Catalog=MotoDealer;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>